@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
    margin-right: 3.5rem;
    list-style-type: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .nav-links li a {
    text-decoration: none;
    color: #344563;
  }

  .first-page {
    width: 98%;
    height: 100vh;
    margin-top: 3rem;
    margin-left: 2rem;
    background-image: url("../images/Header\ bg@2x.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 10rem;
  }

  .first-page .first-page-container {
    width: 65%;
    height: auto;
    margin-top: 6rem;
  }

  .first-page-container .para-title {
    width: 50%;
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
  }

  .first-page-container .para-discription {
    font-size: 20px;
    line-height: 28px;
  }
}
